## Comments

In [1]:
# This is a single line comment
'''
this is 
a multi line
comment
'''

'\nthis is \na multi line\ncomment\n'

## Case Sensitivity

In [2]:
name = "Krish"
Name = "Naik"

print(name)
print(Name)

Krish
Naik

## Indentation

In [3]:
age = 32
if age>30:
	print(age)
print(age)

32
32

## Line Continuation

In [5]:
total = 1+2+3+4+5+6+7+8+9+10+\
11+12+13

print(total)

91

## Multiple Statements on a single line

In [6]:
x=5;y=10;z=x+y
print(z)

15

## Type Inference

In [8]:
age = 32
name = "krish"

print(type(age))
print(type(name))

<class 'int'>
<class 'str'>

## Dynamic Typing

In [9]:
var = 10
print(type(var))

var = "hello"
print(type(var))

<class 'int'>
<class 'str'>

## Indentation Error

In [10]:
age = 32
if age>30
print(age)

SyntaxError: expected ':' (2067078396.py, line 2)

## Name Error

In [11]:
a=b

NameError: name 'b' is not defined

## Code Example of Indentation

In [12]:
if True:
    print("Correct Indentation")
    if False:
        print("This wont print")
    print("This will print")
print("Outside the if block")

Correct Indentation
This will print
Outside the if block