## Declaring and assigning variables

In [2]:
age = 32    # integer variable
height = 6.1        # float variable
name = "krish"      # string variable
is_student = True   # boolean variable

# Printing these variables

print("age =",age)
print("height =", height)
print("name =", name)

age = 32
height = 6.1
name = krish

## Variable naming conventions
### Variables =>
        1. descriptive
        2. start with letter or an '_'
        3. contains letters numbers and underscores
        4. case sensitive

In [4]:
# Valid variable names
first_name = "Krish"
last_name = "Naik"

In [ ]:
# Invalid variable names
#2age = 30
# first-name = "krish"
# @name = "krish"

SyntaxError: invalid syntax. Maybe you meant '==' or ':=' instead of '='? (2146816191.py, line 4)

## Case Sensitivity

In [11]:
name = "krish"
Name = "Naik"

name == Name

False

## Understanding Variable Types
### Python => 
    Dynamically typed language: type of variable determined at runtime

In [13]:
age = 25 #int
height = 6.1 #float
name = "krish" #str
is_student = True #bool

print(type(name))

<class 'str'>

## Type Checking and Conversion

In [ ]:
# Type Checking
type(height)

float

In [20]:
age = 25
print(type(age))

# Type Conversion
age_str = str(age)
print(age_str)
print(type(age_str))

<class 'int'>
25
<class 'str'>

In [23]:
age = '25'
print(type(int(age)))

<class 'int'>

In [25]:
name = "krish"
int(name)

ValueError: invalid literal for int() with base 10: 'krish'

In [31]:
height = 5.11
type(height)

float

In [32]:
int(height)

5

In [28]:
float(int(height))

5.0

## Dynamic Typing
    => Python allows the type of variable to change as the program executes

In [34]:
var = 10
print(var, type(var))

var = "Hello"
print(var, type(var))

var = 3.14
print(var, type(var))

10 <class 'int'>
Hello <class 'str'>
3.14 <class 'float'>

## Input

In [37]:
age = type(input("What is the age ?"))
print(age,type(age))

<class 'str'> <class 'type'>

## Simple Calculator

In [41]:
num1 = float(input("Bro enter the first no: "))
num2 = float(input("Bro now enter the second no: "))

sum = num1 + num2
difference = num1 - num2
product = num1 * num2
quotient = num1 / num2

print("Bro the the numbers you entered are",num1,"and",num2)
print("and bro, these are the simple calculations :-)")
print("Sum:",sum)
print("Difference:",difference)
print("Product:",product)
print("Quotient:",quotient)

Bro the the numbers you entered are 40.0 and 20.0
and bro, these are the simple calculations :-)
Sum: 60.0
Difference: 20.0
Product: 800.0
Quotient: 2.0