## Datatypes

In [1]:
# Integer Example
age = 35
type(age)

int

In [2]:
# Floating Type Datatype
height = 5.11
print(height)
print(type(height))

5.11
<class 'float'>

In [3]:
# string datatype example
name = "krish"
print(name)
print(type(name))

krish
<class 'str'>

In [4]:
# boolean data
is_true = True
type(is_true)

bool

In [5]:
a = 10
b = 10

type(a==b)

bool

## Common Errors

In [6]:
result = "Hello" + 5

TypeError: can only concatenate str (not "int") to str

In [7]:
result = "Hello" + str(5)
print(result)

Hello5